[Unit]
Description=Scanner button polling Service

[Service]
Restart=always
Type=simple
ExecStart=/usr/sbin/scanbd -f
StandardInput=null
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
